ci_access:
  groups:
    - id: ${root_namespace}

%{~ if operate_at_root_group_level }
user_access:
  access_as:
    agent: {}
  groups:
    - id: ${root_namespace}
%{~ endif ~}

%{~ if trimspace(gitlab_agent_append_to_config_file) != "" }
${gitlab_agent_append_to_config_file}
%{~ endif ~}
