# https://gitlab.com/gitlab-org/charts/gitlab-agent/-/blob/v2.6.2/values.yaml

%{~ if length(k8s_common_labels) > 0 }
additionalLabels:
%{~ for lbl_key, lbl_value in k8s_common_labels }
  ${lbl_key}: "${lbl_value}"
%{~ endfor ~}
%{~ endif }

replicas: ${agent_replicas}

config:
  kasAddress: "wss://${agent_kas_address}"
  secretName: "${agent_token_secret_name}"

resources:
  requests:
    cpu: 20m
    memory: 32Mi

%{~ if create_default_pod_anti_affinity }
# We leverage the Helm standard labels for the helm release name (`app.kubernetes.io/instance`)
# to create a default pod anti-affinity rule for the agent pods. Refer to the Helm documentation
# about standard labels here: https://helm.sh/docs/chart_best_practices/labels/#standard-labels.
affinity:
  podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
              - "${helm_release_name}"
          topologyKey: kubernetes.io/hostname
%{~ endif ~}
